<ol>
  <li>
    <a href="#scalability">Scalability</a>
    <ul>
      <li><a href="#scalabilityvertical">Vertical scaling</a></li>
      <li><a href="#scalabilityhorizontal">Horizontal scaling</a></li>
      <li><a href="#scalabilitycaching">Caching</a></li>
      <li><a href="#scalabilityloadbalancing">Load Balancing</a></li>
      <li><a href="#scalabilitydbreplication">Database replication</a></li>
      <li><a href="#scalabilitydbpartitioning">Database partitioning</a></li>
    </ul>
  </li>
  <li><a href="#load-balancer">Load Balancer</a></li>
  <li><a href="#reverse-proxy">Reverse Proxy</a></li>
</ol>
