<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

  <header class="page-header-index" role="banner">
    <div>
        <a href="/index">
        <h1 class="project-name">{{ site.title }}</h1>
        </a>
        <h2 class="project-tagline">•&nbsp;&nbsp;&nbsp;&nbsp;s o f t w a r e&nbsp;&nbsp;&nbsp;&nbsp;d e v e l o p e r&nbsp;&nbsp;&nbsp;&nbsp;•
        </h2>

        <a href="/system-design" class="btn">system design</a>
        <a href="/operating-systems" class="btn">operating systems</a>
        <a href="/algorithms" class="btn">algorithms</a>

        {{ content }} 
    </div>
  </header>
</body>
</html>