<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
  <header class="page-header-default page-header-index" role="banner">
    <div class="banner-index">
      {% include header.html %}
    </div>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }} 
  </main>
</body>
<script src="{{ base.url | prepend: site.url }}/assets/js/nav.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/load.js"></script>
</html>