---
layout: default
---

<article class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {% if page.simple %}
      {{ content }} 
    {% else %}
    <div class="main">
      <div class="content">
        {{ content }}
      </div>
      <nav class="section-nav">    
        {% if page.permalink == "/algorithms" %}
          {% include algorithms-nav.html %}
        {% endif %}

        {% if page.permalink == "/operating-systems" %}
          {% include operating-systems-nav.html %}
        {% endif %}

        {% if page.permalink == "/system-design" %}
          {% include system-design-nav.html %}
        {% endif %}
      </nav>
    </div>
    {% endif %}
  </div>

</article>

<footer class="site-footer">

</footer>
